<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="script.js">
    </script>
    <link rel="stylesheet" href="main.css">
    <title>AngularJs</title>
</head>

<body>

    <div class="container-fluid" ng-app="app" ng-controller="homeCtrl" style="background:azure; height: 100%;;">
        <div class="row" style="background:linear-gradient(black,#888863); height: 50px;">
            <div class="col-md-12">
                <nav class="nav">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">About</a>
                    <a class="nav-link" href="#">Contact Us</a>
                    <a class="nav-link" href="#">Sign in</a>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1 class="header-text">Welcome To AngularJs</h1>
            </div>
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <form class="form-group">
                        <div class="col-md-12 form-margin">
                            <label class="form-label">Name</label>
                            <input class="form-control" type="text" placeholder="User Name" ng-model="user.name" />
                        </div>
                        <div class="col-md-12 form-margin">
                            <label class="form-label">Mobile</label>
                            <input class="form-control" type="text" placeholder="Mobile" ng-model="user.mobile" />
                        </div>
                        <div class="col-md-12 form-margin">
                            <label class="form-label">Address</label>
                            <input class="form-control" type="text" placeholder="Address" ng-model="user.address" />
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success" style="float:right;" ng-click="saveUser()"> 
                                Add User
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="header-text">All Users</h1>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table table-responsive">
                        <thead>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="u in users">
                                <td>{{u.name}}</td>
                                <td>{{u.mobile}}</td>
                                <td>{{u.address}}</td>
                                <td>
                                    <a class="btn btn-info" href="" ng-click="editUser(u)">Edit</a>
                                    <a class="btn btn-danger" ng-click="deleteUser(u)"> Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>

            </div>
        </div>
        <footer>
            <ul>
                <li>privacy policy</li>
            </ul>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>